<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Team | PU CodeSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="team-page">
    <script>
        setTimeout(function () {
            let flash = document.querySelector(".flash");
            if (flash) {
                flash.style.display = "none";
            }
        }, 3000);
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="background">
        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>
    </div>

    <nav class="navbar">
        <a href="{{ url_for('home') }}">
            <div class="logo">PU Code<span>Sphere</span></div>
        </a>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><a href="{{ url_for('departments') }}">Departments</a></li>
            <li><a href="{{ url_for('team') }}">Team</a></li>
        </ul>
        <ul>
            {% if session.get("user_id") %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </ul>
    </nav>
    <hr>
    </hr>
    <h1 class="team-title">Meet Our Team</h1>
    <div class="team-container">
        <!-- Member 1 -->
        <div class="team-card">
            <img src="{{ url_for('static', filename='images/member1.png') }}" alt="Member Name">
            <h3>Tirth Patel</h3>
            <p>Developer</p>

            <div class="social-links">
                <a href="https://github.com/TirthonGit">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/tirth-patel-568403279/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        <!-- Member 2 -->
        <div class="team-card">
            <img src="{{ url_for('static', filename='images/member2.jpeg') }}" alt="Member Name">
            <h3>Kirtan Suryawala</h3>
            <p>Developer</p>

            <div class="social-links">
                <a href="https://github.com/kirtansuryawala">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/kirtan-suryawala-3ab415290/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        <!-- Member 3 -->
        <div class="team-card">
            <img src="{{ url_for('static', filename='images/member3.jpg') }}" alt="Member Name">
            <h3>Priyvrat Dwiyedi</h3>
            <p>Developer</p>

            <div class="social-links">
                <a href="https://github.com/TirthonGit">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/priyvratdwivedi89577">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</body>

</html>